body {
  font-family: Comic Sans MS;
  background-color: rgb(250, 150, 80);
}

h1 {
  font-size: 50px;
}

img {
  max-width: auto;
  max-height: 150px;
  margin-top: 50px;
}

#mainImage {
  max-height: 400px;
  margin: 0px;
}

#citation {
  font-family: Times;
  font-size: 11px;
}