body{
    font-family: arial;
    text-align: center;
    background: url("dessertbg.jpg");
}

h1{
    font-size: 200% ;
}

#donut{
    width: 210px;
    height: 210px;
    background:transparent;
    border-color:transparent;
}